{% extends "layout.html" %}
{% block body %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      NLP Dashboard
      <small>Control panel</small>
    </h1>
  </section>
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title">Summarized</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form role="form" method="POST" action="/">
          <textarea class="form-control" id="Document" name="Document" rows="5"></textarea>
          <button type="submit" class="btn btn-default">Submit</button>
          <p class="text-aqua">Original Document:</p>
          <p class="text-green">{{request.form['Document']}}</p>
          <p class="text-aqua">Length: {{a}}</p>


          <p class="text-aqua">Summarized:(Word Frequency)</p>
          <p class="text-green">{{summary}}</p>
          <p class="text-aqua">Length: {{b}}</p>
      </form>
    </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <div class="table-responsive">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        {% for title in nlpcsv.columns.values %}
                                        <th scope="col">{{title}}</th>
                                        {% endfor %}
                                    </tr>
                                  </thead>
                                <tbody> 
                                    {% set total_rows = nlpcsv|length %}
                                    {% set total_cols = nlpcsv.columns|length %}
                                    {%for row in range(0, total_rows)%} 
                                    <tr>
                                          {%for col in range (0,total_cols)%}
                                            <td>{{nlpcsv.iloc[row,col]}}</td>
                                          {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
    <!-- /.box-body -->
  </div>
</div>
<!-- /.content -->
{% endblock %}